%roboto-light {
  font-family: "Roboto-Light", sans-serif;
  font-style: normal;
  font-weight: 300;
}
%roboto-regular {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}
%roboto-medium {
  font-family: "Roboto-Medium", sans-serif;
  font-style: normal;
  font-weight: 500;
}
%roboto-bold {
  font-family: "Roboto-Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
}
%roboto-black {
  font-family: "Roboto-Black", sans-serif;
  font-style: normal;
  font-weight: 800;
}

$yellow: #f2e185;
$blue: #1d77e7;
